

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to bottom, #5a189a, #9d4edd);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    color: #f0f0f0;
}
nav{
    width: 100%;
    height: 50px;
    background-color: #10002b;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 50px;
    font-size: 1.2rem;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
a,a:visited{
    text-decoration: none;
    color: white;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}
h1{
    font-size: 5rem;
    width: 70%;
    text-align: center;
    color: #d8e2dc;
}
.sign-up{
    color: #10002b;
    border: 2px solid white; 
    border-radius: 20px; 
    padding: 5px 15px; 
    background-color: white; 
    transition: all 0.3s ease;
}
.sign-up:hover{
    color: white;
    background-color: #10002b;
}
.cta-button{
    border: 2px solid white; 
    border-radius: 100px; 
    padding: 10px 20px; 
    color: #f0f0f0; 
    background-color: transparent; 
    font-size: 1.5rem;
    transition: all 0.3s ease;
}
.cta-button:hover{
    color: #10002b;
    background-color: rgb(255, 255, 255);
}
footer{
    width: 100%;
    height: 60px;
    background-color: #10002b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
@media screen and (max-width: 768px){
    h1{
        font-size: 3rem;
        width: 90%;
    }
    nav{
        padding: 0 20px;
    }
    
}